 <!-- Breadcromb Area Start -->
 <section class="gauto-breadcromb-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="breadcromb-box">
                <h3>About Us</h3>
                <ul>
                   <li><i class="fa fa-home"></i></li>
                   <li><a href="index.html">Home</a></li>
                   <li><i class="fa fa-angle-right"></i></li>
                   <li>About Us</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Breadcromb Area End -->
  
  
 <!-- About Page Area Start -->
 <section class="about-page-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="about-page-left">
                <h4>About Us</h4>
                <h3>We are committed to provide safe Ride solutions</h3>
                <p><span>since 2022</span> A new car rental company awaits you at tunisia
                  Our goal is to provide excellent customers service and respect for human values. From 2022 we are at the top of small businesses in Tunisie with the quality of our services being confirmed first of all by our own customers.</p>
                <div class="about-page-call">
                   <div class="page-call-icon">
                      <i class="fa fa-phone"></i>
                   </div>
                   <div class="call-info">
                      <p>Need any Help?</p>
                      <h4><a href="#">(216) 95 512 824</a></h4>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="about-page-right">
                <img src="assets/img/about-page.jpg" alt="about page" />
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- About Page Area End -->
  <!-- About Promo Area Start -->
  <section class="gauto-about-promo section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="about-promo-text">
                <h3>We are proud of our business. <span>Rent Car</span> Now!</h3>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="about-promo-image">
                <img src="assets/img/cars.png" alt="about promo" />
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- About Promo Area End -->
  
  
 <!-- Promo Area Start -->
 <section class="gauto-promo-area">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="promo-box-left">
                <img src="assets/img/toyota-offer-2.png" alt="promo car" />
             </div>
          </div>
          <div class="col-md-6">
             <div class="promo-box-right">
                <h3>Do You Want To Earn With Us? So Don't be Late.</h3>
                <a href="#" class="gauto-btn">Become a drive</a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Promo Area End -->
  
  
 <!-- Driver Area Start -->
<app-members></app-members>
 <!-- Driver Area End -->