<!-- Breadcromb Area Start -->
<section class="gauto-breadcromb-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="breadcromb-box">
                <h3>Car Booking</h3>
                <ul>
                   <li><i class="fa fa-home"></i></li>
                   <li><a href="index.html">Home</a></li>
                   <li><i class="fa fa-angle-right"></i></li>
                   <li>car Booking</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Breadcromb Area End -->
  
  
 <!-- Car Booking Area Start -->
 <section class="gauto-car-booking section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="car-booking-image">
                <img src="http://localhost:8080/users/files/{{voiture.img}}" alt="car" />
             </div>
          </div>
          <div class="col-lg-6">
             <div class="car-booking-right">
                <p class="rental-tag">rental</p>
                <h3>{{voiture.name}}</h3>
                <div class="price-rating">
                   <div class="price-rent">
                      <h4>{{voiture.prix}}$<span>/ Day</span></h4>
                   </div>
                   <div class="car-rating">
                      <ul>
                         <li><i class="fa fa-star"></i></li>
                         <li><i class="fa fa-star"></i></li>
                         <li><i class="fa fa-star"></i></li>
                         <li><i class="fa fa-star"></i></li>
                         <li><i class="fa fa-star-half-o"></i></li>
                      </ul>
                      <p>(123 rating)</p>
                   </div>
                </div>
                <p> {{voiture.description}}</p>
                <div class="car-features clearfix">
                   <ul>
                      <li><i class="fa fa-car"></i>Model: {{voiture.model}}</li>
                      <li><i class="fa fa-cogs"></i>{{voiture.transmition}}</li>
                      <li><i class="fa fa-dashboard"></i> {{voiture.klm}}</li>
                      <li><i class="fa fa-empire"></i> {{voiture.carburant}}</li>
                   </ul>
                   <ul>
                      <li><i class="fa fa-eye"></i> {{voiture.couleur}}</li>
                      <li><i class="fa fa-lock"></i> nbr place :{{voiture.nbr_place}}</li>
                      <li><i class="fa fa-key"></i> Remote Keyless</li>
                      <li><i class="fa fa-desktop"></i> Rear-Seat DVD</li>
                   </ul>
                   <ul>
                      <li><i class="fa fa-car"></i> Model:2017</li>
                      <li><i class="fa fa-cogs"></i> Automatic</li>
                      <li><i class="fa fa-dashboard"></i> 20kmpl</li>
                      <li><i class="fa fa-empire"></i> V-6 Cylinder</li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <app-carslisting></app-carslisting>
 </section>


  
  

