<!-- Breadcromb Area Start -->
<section class="gauto-breadcromb-area section_70">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="breadcromb-box">
                <h3>Product Details</h3>
                <ul>
                   <li><i class="fa fa-home"></i></li>
                   <li><a href="index.html">Home</a></li>
                   <li><i class="fa fa-angle-right"></i></li>
                   <li>single product</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Breadcromb Area End -->
  
  
 <!-- Product Details Page Start -->
 <section class="gauto-product-details section_70">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="product-details-image">
                <img src="http://localhost:8080/users/files/{{product.image}}" alt="product" />
             </div>
          </div>
          <div class="col-lg-6">
             <div class="product-details-text">
                <h3>{{product.name}}</h3>
                <div class="car-rating">
                   <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half-o"></i></li>
                   </ul>
                   <p>(123 rating)</p>
                </div>
                <div class="single-pro-page-para">
                   <p>{{product.description}}</p>
                </div>
                <div class="single-shop-price">
                   <p>Price:<span>${{product.prix}}</span></p>
                   <p class="qnt">Quantity:<input value="1" type="number"></p>
                </div>
                <div class="single-shop-page-btn">
                   <a (click)="addToCart(product)" class="gauto-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
                   <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
       <!-- Related Products Area Start -->
       <section class="gauto-related-products section_b_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="site-heading">
                     <h4>products</h4>
                     <h2>related products</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-3 col-sm-6" *ngFor="let v of products  | paginate: { itemsPerPage: 3, currentPage: p }">
                  <div class="product-item" >
                     <div class="product-image">
                        <a href="#">
                        <img src="http://localhost:8080/users/files/{{v.image}}" alt="product 1" />
                        </a>
                     </div>
                     <div class="product-text">
                        <div class="product-title">
                           <h3><a href="#">{{v.name}}</a></h3>
                           <p>{{v.prix}}</p>
                        </div>
                        <div class="product-action">
                           <a (click)="addToCart(v)"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
               <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
         </div>
      </section>
      <!-- Related Products Area End -->
 