<!-- Breadcromb Area Start -->
<section class="gauto-breadcromb-area section_70">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcromb-box">
               <h3>Products</h3>
               <ul>
                  <li><i class="fa fa-home"></i></li>
                  <li><a href="index.html">Home</a></li>
                  <li><i class="fa fa-angle-right"></i></li>
                  <li>Product</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcromb Area End -->


<!-- Product Page Start -->
<section class="gauto-product-page section_70">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-12">
            <div class="product-page-left">
               <div class="sidebar-widget">
                  <form class="product_search">
                     <input type="search" placeholder="Keywords..." [(ngModel)]="term" />
                     <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
               </div>
               <div class="sidebar-widget">
                  <h3>By Category</h3>
                  <ul class="service-menu">
                     <li *ngFor="let c of categoryproduct ">
                        <a (click)=" OnChangeCategory(c)">{{c.title}}</a>
                     </li>
                  </ul>
               </div>

            </div>
         </div>
         <div class="col-lg-8 col-sm-12">
            <div class="product-page-right">
               <div class="row">
                  <div class="col-md-4"
                     *ngFor="let p of product | recherche : term | paginate: { itemsPerPage: 6, currentPage: p }">
                     <div class="product-item">
                        <div class="product-image">
                           <a href="#">
                              <img src="http://localhost:8080/users/files/{{p.image}}" alt="product 1" />
                           </a>
                        </div>
                        <div class="product-text">
                           <div class="product-title">
                              <h3><a routerLink="/detailproducts/{{p.id}}">{{p.name}}</a></h3>
                              <p>{{p.prix}}</p>
                           </div>
                           <div class="product-action">
                              <a (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pagination-box-row">
               <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Product Page End -->